{
  "ignore": [
    "node_modules/**"
  ],
  "env": {
    "test": {
      "presets": [
        "env",
        "stage-0",
        "react"
      ]
    },
    "development": {
      "presets": [
        [
          "env",
          {
            "modules": false
          }
        ],
        "stage-0",
        "react"
      ],
      "plugins": [
        "external-helpers"
      ]
    },
    "production": {
      "presets": [
        [
          "env",
          {
            "modules": false
          }
        ],
        "stage-0",
        "react"
      ],
      "plugins": [
        "external-helpers"
      ]
    }
  }
}