{
  "parser": "babel-eslint",
  "plugins": [
    "react",
    "jest"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:jest/recommended"
  ],
  "env": {
    "browser": true,
    "node": true,
    "jest/globals": true
  }
}