button:focus {
  outline: none;
}

textarea:focus {
  outline: none;
}

input:focus {
  outline: none;
}

select:focus {
  outline: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

tr:nth-child(even) {
  background-color: #f1f5f8;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.loader {
  animation: spin 1s infinite linear;
}

.top-pin {
  top: 110%;
}
