@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loader {
  animation: spin;
}

button {
  outline: none;
}

textarea {
  outline: none;
}

input {
  outline: none;
}

select {
  outline: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

tr:nth-child(even) {
  background-color: #f1f5f8
}
